<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">
    <select id="selectIfExistByUacot" resultType="int" parameterType="pojo.User">
        select count(*) from user where uacot = #{uacot}
    </select>
    <select id="selectIfExistByUname" resultType="Integer" parameterType="pojo.User">
        select count(*) from user where uname = #{uname}
    </select>
    <select id="selectIfExistByUacotAndUpass" resultType="Integer" parameterType="pojo.User">
        select count(*) from user where uacot = #{uacot} and upass = #{upass}
    </select>
    <insert id="insertUser" parameterType="pojo.User" keyProperty="uacot" useGeneratedKeys="false">
        insert into user (uacot,uname,upass) values(#{uacot},#{uname},#{upass})
    </insert>
    <update id="updateUnameByUacot" parameterType="pojo.User">
        update user set uname=#{uname} where acot=#{uacot}
    </update>
    <select id="selectUnameByUacot" parameterType="pojo.User" resultType="String">
        select uname from user where uacot = #{uacot}
    </select>
    <select id="selectUacotByUname" parameterType="pojo.User" resultType="String">
        select uacot from user where uname = #{uname}
    </select>
</mapper>